:root {
  --cream: #F0E9DB;
  --dark-cream: #E0D7C6;
  --dark-green: #214F0F;
  --black: #000000;
  --white: #FFFFFF;
}

* {
  font-family: 'Roboto Mono';
}

.App .Main {
  height: 85vh;
  background-color: var(--cream);
  overflow-y: scroll;
}

.App .Main::-webkit-scrollbar {
  width: 10px;
}

.App .Main::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--dark-cream);
}

.App .Main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--dark-green);
}

.Container {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem; 
}

.heading {
  font-size: xx-large;
  font-weight: 700;
}

.bordered {
  border: solid 1px var(--black);
  min-height: 20px;
}