.Design > * {
    width: 90%
}

.Design .img-preview {
    height: 207px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.Design .img-preview:hover {
    border-width: 2px;
    cursor: pointer;
}

.Design .img-preview img {
    height: 100%;
    max-width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.Design .details * {
    margin: 0;
}

.Design .details .details-text {
    display: block;
    width: 90%
}

.Design .details .details-name {
    font-size: 16px;
}

.Design .details .details-name:hover {
    cursor: pointer;
}

.Design .details .details-description {
    font-size: 13px;
}

.Design .details .details-interact-btn {
    font-size: larger;
}

.Design .details .details-interact-btn:hover {
    cursor: pointer;
}