.Landing .biggest-text {
    font-family: Inter;
    font-size: var(--huge-text);
    font-weight: 900;
    line-height: 100%;
}

.Landing .big-text {
    font-size: var(--big-text);
    line-height: 100%;
}

.Landing .subtitle {
    font-size: var(--regular-text);
}

.Landing .headshot {
    width: 500px;
    border-radius: 50%;
    border: solid 6px var(--dark-green);
}

.Landing .portfolio-section {
    border-radius: 5px;
    background-color: var(--dark-green);

    width: 107px;
    height: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: var(--small-tag-text);

    color: var(--white);
    text-align: center;
}


.Landing .download-button {
    width: fit-content;
    border-radius: 10px;
}

.Landing .download-button:hover {
    background-color: var(--dark-green);
    
    * {
        color: var(--cream);
    }
}

.Landing .download-button * {
    color: var(--black);
    text-decoration: none;
}