.Landing {
    height: 80vh;
}

.Landing .biggest-text {
    font-size: 100px;
    font-weight: 900;
    line-height: 100%;
}

.Landing .big-text {
    font-size: 60px;
    font-weight: 200;
    line-height: 100%;
}

.Landing .subtitle {
    font-size: 20px;
}

.Landing .headshot {
    width: 40vw;
    border-radius: 50%;
    border: solid 5px #134f13;
}

.Landing .portfolio-section {
    border-radius: 5px;
    background-color: #134f13;

    width: auto;
    height: 35px;
    padding: 5px 10px;
    margin-right: 10px;

    color: white;
    text-align: center;
}