.TitleBar {
    background-color: var(--dark-green);
    height: 10vh;
}

.TitleBar a {
    text-decoration: none;
}

.TitleBar .nav-link {
    color: var(--cream);
    margin: auto;
}

.TitleBar .nav-link:hover {
    text-decoration: underline;
}