.TitleBar {
    background-color: var(--dark-green);
    height: 10vh;
}

.TitleBar a {
    text-decoration: none;
}

.TitleBar a.active {
    background-color: var(--cream);
    border-radius: 10px;
    
    p {
        color: var(--black);
    }
}

.TitleBar .nav-link {
    color: var(--cream);
    margin: auto;
}

.TitleBar .nav-link:hover {
    text-decoration: underline;
}